@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}
img {
	opacity: 0.7;
}
img:hover {
	opacity: 1;
}

header p.tag-line {
	font-size: 1.6em;
	text-decoration: underline;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

a:link, a:visited {
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
transition-duration: 1s;
opacity: 0.7;
}

a:hover {
background-color: #990000;
}

img:hover {
-webkit-transform: scale(1.1, 1.1);
-moz-transform: scale(1.1, 1.1);
-ms-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}